annotated-types
anyio
click
fastapi
h11
httptools
idna
Jinja2
MarkupSafe
py
pydantic
pydantic_core
python-dotenv
python-multipart
PyYAML
sniffio
starlette
typing_extensions
uvicorn
uvloop
watchfiles
websockets
